.jumbotron .container > h1 {
  color: #AC3B61;
}


.foot-shadow {
  -webkit-box-shadow: 0px -1px 300px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px -1px 300px 0px rgba(0,0,0,0.05);
  box-shadow: 0 50vh 0 50vh #fff;
}
/*box-shadow: 0 50vh 0 50vh #000;*/