.color1{
  color: var(--color1);
}
.color2{
  color: var(--color2);
}
.color3{
  color: var(--color3);
}
.color4{
  color: var(--color4);
}
.color5{
  color: var(--color5);
}
.color6 {
  color: var(--color6);
}

.bcolor1{
  background-color: var(--color1);
}
.bcolor2{
  background-color: var(--color2);
}
.bcolor3{
  background-color: var(--color3);
}
.bcolor4{
  background-color: var(--color4);
}
.bcolor5{
  background-color: var(--color5);
}
.bcolor6 {
  background-color: var(--color6);
}

.topSection{
  padding-top: 5rem;
}

.headingText{
  font-family: 'Mosk800';
  font-size: 3rem;
}

.headingSection{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Mosk800';
  font-size: 3rem;
}

.subheadingSection{
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--color-white);
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}


.introTextContent{
  color: var(--color-white-text);
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


.textContent{
  color: var(--color-white-text);
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.textQuote{
  color: var(--color-white);
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 4rem;
}



.line{
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 1px;
  background-color: var(--color-white-transparent);
  width: 100%;
}
.topImage{
  position:relative;
  padding-bottom: 1rem;
}
.backgroundImage{
  border-radius: 20px;
  max-width: 100%;
  opacity: 0.3;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.textImage{
  width: 60%;
  text-align: center;
  border-radius: 20px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  color: var(--color-white);
  font-size: 4em;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.introTextHeading{
  color: var(--color-white);
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.introContent{
  padding: 1rem;
}

.timelineBar{
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  height: 15px;
  width: 100%;
}

.introTextHeading2{
  color: var(--color-white);
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.contentImageSimple img{
  border-radius: 10px;
  max-width: 90%;
  display: block;
  margin: 4rem;
  margin-left: auto;
  margin-right: auto;
}


.contentImageRow{
  border-radius: 10px;
  display: block;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.pecssRowImage1{
  max-width: 40%
}
.pecssRowImage2{
  max-width: 55%
}
.pecssRowImage3{
  max-width: 55%
}
.pecssRowImage4{
  max-width: 70%
}
.pecssRowImage5{
  max-width: 35%
}

.tableSpacing{
  text-align: center;
  padding: 4rem !important;
}

.table{
  width: 90%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.table thead tr{
  color: var(--color-white);
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.table tbody tr{
  color: var(--color-white-text);
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}








@media (max-width: 1200px) {
	.textImage{
		font-size: 2.5rem;
	}
}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
	.textImage{
		font-size: 1.5rem;
	}
}
@media (max-width: 576px) {

}
