svg { 
    border: 1px solid #ffffffff;
    border-radius: 3px;
    width: 800px;
    height: 600px;
    margin: 20px;
    flex-shrink: 0;
}

.tldrSection{
    display: flex;
}

.graySVG{
    padding-bottom: 2rem;
}

.grayControlButtons{
    display: block;
    flex-shrink: 0;
    margin: 25px;
}

.grayControlIndividual{
    color: var(--color-white);
    display: block;
    width: max-content;
    cursor: pointer;
    margin-bottom: 30px;
}


input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 15px;
	height: 15px;
    margin-left: 5px;
    padding: 1px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}


.horizontal{
    background-color: #555;
    position: absolute;
    left: 0px;
    height: 0.5px;
    width: 100%;
}

.vertical{
    background-color: #555;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 0.5px;
}

.helpBox{
    visibility: hidden;
}